pypdf==6.6.2
langchain==1.2.7
langchain-community==0.4.1
langchain-ollama==1.0.1
langchain-experimental==0.4.1
langchain-neo4j==0.8.0
neo4j==6.1.0

# --- Interactive Testing ---
notebook==7.5.3
ipykernel==7.1.0